header {
  text-align: center;
}

a{
  color: #fc00ac;
  text-decoration: none;
}
 a:link {
  color: #fc00ac;
  text-decoration: none;
}
a:visited {
  color: #fc00ac;
  text-decoration: none;
}
a:hover ~ .fa {
    color: #28b5b5;
}
main .<a href=""><img src= .fa:hover, a:hover, a:visited:hover {
  color: #28b5b5;
}
a:hover, a:focus {
  text-decoration: underline;
}
.logo-section {
  background: 000000 url("img/headerbg.png");
}
.logo-section h1  {
    background:  url("img/jsconf-2015-logo.png") no-repeat;
    width: 690px;
    height: 230px;
    margin: 0 auto;
}
.logo-section h1:hover {
    background: url("img/pegasus.png") no-repeat;
    width: 300px;
    height: 230px;
    margin: 0 auto;
    background-position-y: -57px;
}
.logo-section .summary {
  font-size: 14px;
  text-align: right;
  position: absolute;
  color: #ffffff;
  right: 94px;
  top: 15px;
  line-height: 1.4;
}
.logo-section .summary  a i {
  font-size: 20px;
  color: white;
  margin-left: 12px;
}
.nav {
  font-size: 14px;
  background-color: #222;
  padding: 0 15px;
  margin-bottom: 20px;
}

.nav a {
    color: #999;
    display:block;
    padding: 15px 10px;
    text-decoration: none;
    line-height: 20px;
}
.nav li {
  display: inline-block;
  margin: 0 0 0 14px;
}
.nav i.fa {
  margin-right: 10px;
}
header .nav ul {
  text-align: center;
  padding: 0 30px;
}
header .nav a:hover {
    color: #fff;
    background-color: transparent;
}
/*
header .nav li a {
    color: #999;
}
*/
.nav-row {
  display: none;
}

@media (max-width: 768px) {

  .logo-section h1  {
    height: 185px;
}
  .logo-section {
    background: #222;
  }
  .logo-section .summary {
    background: #fc00ac;
    text-align: center;
    position: relative;
    padding: 15px 0;
    right: 0;
    top: 0;
  }
  .logo-section h1 {
    margin-top: -41px;
    margin-bottom: 5px;
  }

.nav-row {
    background: #222;
    display:block;
    padding: 5px;
}
.nav-button-frame {
  border-radius: 4px;
  border-style: solid;
  border-color: gray;
  float:right;
  padding: 5px 10px;
  border-width: 1.5px;
}
.nav-button {
  font-size: 1.3em;
  margin: 0;
}
.nav-button .fa {
  margin: 0;
  color: white;
}
.nav-row:after {
  clear:both;
  display:block;
  content: "";
}
.summary .fa {
  font-size: 20px;
}
a.button:clicked {
    /* show or hide the vertical nav */
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

  .container {
    width: 100%;
    padding: 0;
  }
  br {
    display: none;
  }

  header .nav ul {
    text-align: left;
    padding: 0 5px;
    border-top-width: 1px;
    border-top-color: gray;
    border-top-style: groove;
  }
  header .nav li {
    display: block;
    margin: 0;
  }
  header .nav li a {
    padding: 10px 0;
      color: #999;
  }
  header .nav li i {
    color: #999;
  }
  a.nav-button:active ~nav {
    background-color: white;
  }
}
