@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}
body {
    font: normal 16px 'Inconsolata', Helvetica, sans-serif;
    box-sizing: border-box;
}
p {
  color: #010b18;
  line-height: 22.85px;
}
.gray-text {
  color: #999;
}
b {
  background: yellow;
  color: #000000;
  font-weight: bold;
}
footer {
  font-size: 16px;
  margin: 150px 0;
}
main header .container {
  padding: 0;
  margin: 0 0 20px 0;
}
main header .fa {
  font-size: 48px;
  color: black;
}
main header h1 {
  font-size: 30px;
  color: #fc00ac;
}

main article p {
  margin: 10px 0 32px 0;
  line-height: 1.4;
}
main header {
  overflow: auto;
}
.how-to-link {
  display: block;
  padding-top: 27px;
  padding-bottom: 14px;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -1px;
  color: #010b18;
  font-weight: bold;
  color: #fc00ac;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  padding: 20px 0 10px 0;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -1px;
  color: #010b18;
  font-weight: normal;
}
.headline {
  font-size: 50px;
  padding: 0;
}
h2 a {
  margin-top: 20px;
  text-decoration: none;
  font-size: 30px;
  color: #fc00ac;
  font-weight:bold;
}
.a-well {
  max-width: 1200px;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.divider {
  margin: 80px 0;
  border: 0;
  border-top: 1px solid #eee;
}

.column-1 {
  float: left;
  box-sizing: border-box;
  padding: 0 15px;
}

.column-2 {
  overflow: hidden;
  padding: 0 15px;
}
.col-60-pct {
  width: 60%;
}
.col-10-pct {
  width: 10%;
}
.col-40-pct {
  width: 40%;
}
.row {
  padding-bottom: 20px;
}
.row:after {
  clear:both;
  content: "";
  display: block;
}
main .container img {
  max-width: 100%;
}

.sponsor {
    height: 200px;
    width: 200px;
    margin: 12px 25px;
    display: block;
    line-height: 200px;
    float: left;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.speaker-pic {
  padding: 0;
  margin: 0;
  width: 10%;
}
.speaker-img {
  border-radius: 20px;
  box-shadow: 4px 4px 25px 0px rgba(50, 50, 50, 0.54);
}
.speaker-row {
  padding-bottom: 5px;
}
.speaker {
  margin-bottom: 40px;
  border-bottom: 1px solid #246f84;
}
.no-photo {
    padding-left: 150px;
}
.social {
    color: #fc00ac;
    text-decoration: none;
    float: right;
    font-size:20px;
}
h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
  display: inline-block;
}
.speaker p {
  font-size: 13px;
  line-height: 1.6;
    margin: 10px 0 11px 0;
}
.speaker .column-1 {
  padding: 0;
}
.speaker .column-2 {
    padding-left: 22px;
    padding-right: 25px;
}

.blue-button {
  display:inline-block;
  background-color: #428bca;
  border-color: #357ebd;
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  line-height: 1.33;
  border-radius: 6px;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 auto;
  border: 1px solid transparent;
}
.blue-button:visited {
    color: white;
}
li {
  list-style: none;
}
/*
.fa:hover, a:hover, a:visited:hover {
    color: #28b5b5;
    */
.tickets .blue-button:hover,.tickets .blue-button:visited:hover, .tickets .blue-button:focus, .tickets .blue-button:active {
    background-color: #3276b1;
    border-color: #285e8e;
    color: #fff;
}
 a.blue-button {
  color: white;
}
.tickets .header {
  margin-bottom: 60px;
}
.tickets img {
  margin-bottom: 8px;
}
.tickets p + p {
  margin-top: 13px;
}
.tickets p {
   margin: 0 0 10px 0;
}
.tickets p.tito-link {
      font-size: 12px;
      display: block;
      margin-bottom: 5px;
      text-align: center;
      width: 100%;
      margin: 30px 0 0 0;
}
.tickets p.name-column {
  float: left;
  font-weight: bold;
  margin: 11px 0;
}

.tickets p.registration-message {
    margin-top: -13px;
    text-align: left;
  font-weight: bold;
  display:block;
  margin: 0;
}
:nth-last-child(1)
.tickets h3 {
  margin:11px 0 10px 0;
}
.tickets .gray-button {
    margin: 7px 0;
    padding: 7px 24px;
}

.tickets .row {
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
}
.gray-button {
    background: #ccc;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    /*
    height: 34px;
    */
    height: 30px;
    line-height: 1.42857143;
    margin: 2px 0;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    float: right;
}
.table-wrapper {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #f1f1f1;
    font-family: sans-serif;
    color: #333;
    margin: 20px auto;
    max-width: 900px;
    padding: 10px 10px 0 10px;
    width: 100%;
}
.name-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.tickets.column-2 {
  float: right;
}
.tickets .tito-row {
  margin-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
}

h4 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}
#schedule h4 {
  line-height: 1.4;
  margin-top: 30px;
}
#schedule h3 {
    margin-top: 40px;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #f9f9f9;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

th {
    text-align: left;
    background-color: #f9f9f9;
    font-weight: bold;
}

table {
    max-width: 100%;
    background-color: transparent;
    display: table;
    border-color: gray;
    border-collapse: collapse;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}

@media(min-width:768px) {
  .container {
    max-width: 750px
  }
}
@media(min-width:992px) {
  .container {
      max-width: 970px
  }
}
@media(min-width:1200px) {
  .container {
      max-width: 1170px
  }
}
