@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}
body {
    font: normal 16px 'Inconsolata', Helvetica, sans-serif;
    box-sizing: border-box;
    color: #010b18;
}
h1, h2, h3, h4, h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  color: #010b18;
}
h4, h5 {
  margin: 10px 0;
}
h1 {
  font-size: 28px;
  margin-bottom: 1.5em;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}

p {
  color: #010b18;
  line-height: 22.85px;
  margin: 0 0 10px;
}
.gray-text {
  color: #999;
}
b {
  background: yellow;
  color: #000000;
  font-weight: bold;
}
main header .container {
  padding: 0;
  margin: 0 0 20px 0;
}
main header .fa {
  font-size: 48px;
  color: black;
}
main header h1 {
  font-size: 30px;
  color: #fc00ac;
}

main article p {
  margin: 10px 0 32px 0;
  line-height: 1.4;
}
main header {
  overflow: auto;
}

.lead {
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: 200;
  line-height: 1.4;
}
.how-to-link {
  display: inline;
  padding-top: 27px;
  padding-bottom: 14px;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -1px;
  color: #010b18;
  font-weight: bold;
  color: #fc00ac;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.headline {
  font-size: 50px;
  padding: 0;
  margin-top: 0;
  line-height: 1;
  letter-spacing: -1px;
}
h2 a {
  margin-top: 20px;
  text-decoration: none;
  font-size: 30px;
  color: #fc00ac;
  font-weight:bold;
}
.a-well {
  font-size: 16px;
  max-width: 1200px;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.divider {
  margin: 80px 0;
  border: 0;
  border-top: 1px solid #eee;
}

.column-1 {
  position: relative;
  box-sizing: border-box;
  padding: 0 15px;
  margin-bottom: 20px;
}

.column-2 {
  overflow: hidden;
  padding: 0 15px;
}
.table-width-30-pct {
  width: 30%;
}
.table-width-5-pct {
  width: 5%;
}
.table-width-95-pct {
  width: 95%;
}


.img-100 {
  width: 100px;
  height: 100px;
}

.img-82 {
  width: 82px;
  height: 82px;
}

.row:after, .sponsor-row:after{
  clear:both;
  content: "";
  display: block;
}
main .container img {
  max-width: 100%;
}

.sponsor {
  height: 200px;
  width: 200px;
  margin: 12px 25px;
  display: block;
  line-height: 200px;
  float: left;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.7;
}

main .container {
  margin: 0 auto;
  padding: 0 15px;
}
.divider {
    margin: 80px 0;
}

h2 > a {
  display: block;
}
#home h3 {
  font-size: 30px;
  display:block;
  padding:27px 0 0 0;
}
#home .row {
  /*
  padding-bottom: 20px;
  */
  margin: 0 -15px;
}
#home .sponsor-row {
  padding-bottom: 20px;
}

#sponsors main {
  margin-top: 37px;
}
#sponsors article img {
  display:block;
}

#sponsors h2 {
  margin-bottom: 22px;
}
#sponsors h3 {
  font-weight: bold;
  margin-top: 2px;
  font-size: 16px;
  margin-bottom: 3px;
}
#sponsors img {
  margin-bottom: 14px;
}
#sponsors article p {
  font-size: 13px;
  line-height: 1.6;
  margin: 0 0 10px 0;
}
#sponsors article {
  border-bottom: 1px solid #246f84;
    padding-bottom: 32px;
    margin-bottom: 31px;
}
#sponsors {
}
#sponsors .a-well {
  font-size: 16px;
  margin-top: 32px;
}
#sponsors .interested {
  text-align: center;
}

#sponsors .a-well p {
  display: inline;
}
#sponsors .clearfix {
  display:block;
  clear: both;
  content: "";
  height: 7px;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    border-radius: 4px;
    border-style: solid;
    float: right;
    border-width: 1.5px;
    border-color: #333;
    margin-right: 15px;
    color: white;
    position: relative;
    margin-top: 4px;
    font-size: 20px;
}
.nav-button:hover {
  background-color: #333;
}
footer {
  font-size: 16px;
  margin: 150px auto !important;
}
footer img {
  display: block;
}
.speaker-pic {
  padding: 0;
  margin: 0;
  width: 10%;
}
.speaker-img {
  border-radius: 20px;
  box-shadow: 4px 4px 25px 0px rgba(50, 50, 50, 0.54);
}

.speaker {
  margin-bottom: 32px;
  border-bottom: 1px solid #246f84;
  padding-bottom: 32px;
}
.no-photo {
    padding-left: 150px;
}
.social {
    color: #fc00ac;
    text-decoration: none;
    float: right;
    font-size:20px;
}
.inline-block {
  display: inline-block;
}
.speaker p {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 10px;
  margin-top: 0;
}
.training-track-article p {
  margin-bottom: 28px;
}
.speaker .column-1 {
  padding: 0;
  min-width: 100px;
}
.speaker .column-2 {
    padding-left: 34px;
    padding-right: 27px;
}
.speaker h3 {
  margin-top: 0;
  margin-bottom: 12px;
}
.speaker h4 {
  margin-bottom: 0;
}

.blue-button {
  display:inline-block;
  background-color: #428bca;
  border-color: #357ebd;
  color: white;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 auto;
  border: 1px solid transparent;
}
.button-big {
  font-size: 18px;
  padding: 10px 16px;
  line-height: 1.33;
  border-radius: 6px;
}
.button-small {
  padding: 6px 12px;
  font-size: 14px;
    line-height: 1.428571429;
  border-radius: 4px;
}
.selected {
  background-color: #080808;
}
.selected > a, a:link.blue-button, .blue-button:visited, .blue-button a:link, .blue-button a:visited {
    color: white;
    font-weight: bold;
}
#checkbox {
  display: none;
}
li {
  list-style: none;
}
.tickets .blue-button:hover,.tickets  .blue-button:visited:hover, a:hover.blue-button, .tickets .blue-button:focus, .tickets .blue-button:active {
    background-color: #3276b1;
    border-color: #285e8e;
    color: #fff;
    text-decoration: none;
}
#training-track-header h2 {
  margin-bottom: 77px;
}
#speaker h2 {
  margin-bottom: 76px;
}
#speaker .column-1 {
  float: left;
  box-sizing: border-box;
  width: 10%;
}
#speaker .column-2 {
  overflow: auto;
}
#speaker .twitter-link {
  float: right;
}

#about p {
  margin: 0 0 5px 0;
}
#about .founder {
  float: left;
  width: 46%;
  margin: 20px 2%;
}
#about h3 {
  color: black;
  margin-top: 0;
}
#about .social {
  font-size: 16px;
  float: none;
  display:block;
  margin: 4px 0 10px 0;
}
.founder .right-col {
  margin-left: 120px;
}
.founder .left-col {
  float: left;
}
/*
#about .row {
  margin-bottom: 23px;
}
*/
#about h3 {
  margin-top: 4px;
  margin-bottom: 10px;
}
.img-responsive {
  max-width: 100%;
  display: block;
  height: auto;
}
.tickets .header {
    margin-bottom: 59px;
}
.tickets img {
  margin-bottom: 8px;
}
.tickets p + p {
  margin-top: 0;
  margin-botton: 0;
}
.tickets p {
   margin: 0 0 10px 0;
}
.tickets p.tito-link {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  margin: 30px 0 0 0;
}
.tickets p.name-column {
  float: left;
  font-weight: bold;
  margin: 11px 0;
  width: 80%;
}

.tickets p.registration-message {
  margin-top: -13px;
  text-align: left;
  font-weight: bold;
  display:block;
  margin: 0;
}

.tickets .gray-button {
    height: 34px;
    padding: 6px 12px;
    margin: 5px 0;
}

.tickets .row {
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
}
.gray-button {
    background: #ccc;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 1.42857143;
    margin: 2px 0;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    float: right;
}
.table-wrapper {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #f1f1f1;
    font-family: sans-serif;
    color: #333;
    margin: 20px auto 0 auto;
    max-width: 900px;
    padding: 10px 10px 0 10px;
}
.name-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.tickets.column-2 {
  float: right;
}
.tickets .tito-row {
  margin-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
}

#schedule h4 {
  line-height: 1.4;
  margin-top: 30px;
}
#schedule h3 {
    margin-top: 40px;
}
#schedule img {
  margin-bottom: 10px;
}
.speaker h4 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 6px;
  line-height: 1.6;
  margin-top: 0;
}
#so-track h3 {
  margin-top: 40px;
  margin-bottom: 10px;
}
#so-track h4 {
  margin: 34px 0 13px 0;
}

#venue .caption {
  margin: 0;
}
#venue .hotel-caption {
}

#venue .row {
  margin: 0 -15px;
}
#training-track-header p {
    margin: 17px 0 10px 0;
    padding-bottom: 41px;
    border-bottom: 1px solid #246f84;
}
#training-track .training-track-article {
    padding-bottom: 13px;
    margin-bottom: 12px;
    border-bottom: 1px solid #246f84;
}
.training-track-article .column-2 {
    margin-left: 134px;
    padding-left: 10px;
    padding-right: 15px;
}
.track {
  margin-left: 134px;
}
.training-track-article .social {
  color: #010b18;
}
.training-track-article h4 {
  font-size: 16px;
  font-weight: bold;
}
.training-track-article h3 {
  margin-bottom: : 18px;
  margin-top: 22px;
  display: block;
}
#conduct h1 {
  font-family: 'Poiret One', cursive;
  color: #333;
  font-size: 40px;
}
#conduct h1 sup {
  color: #ccc;
  font-size: 12px;
}
#conduct h2 {
font-size:28px;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #f9f9f9;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

th {
    text-align: left;
    background-color: #f9f9f9;
    font-weight: bold;
}

table {
    max-width: 100%;
    background-color: transparent;
    display: table;
    border-color: gray;
    border-collapse: collapse;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.center {
  text-align: center;
}
#venue .column-1 {
  margin-bottom: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:300px) and (max-width:449px) {
  .tickets p.name-column {
    width: 50%;
  }
}
@media (min-width:450px) and (max-width:767px) {
  .tickets p.name-column {
    width: 60%;
  }
}
@media(min-width:768px) {
  .container {
    max-width: 750px;
  }
  nav li>a {
    padding: 10px;
  }
  header nav ul  {
    /*
    margin-top: 4px;
    */
  }
}

@media(max-width:768px) {

  .headline {
    font-size: 30px;
  }
  #venue .headline {
    margin-top: 20px!important;
  }

  #home .column-2 .headline {
    margin-top: 0!important;
  }
  .lead {
    font-size: 16.099px;
  }

  .container {
    width: 100%;
    padding: 0 15px;
  }

  #home article .container {
    padding: 0 15px;
  }

  #home header.container {
    padding: 0;
  }
  .hide-mobile {
      display: none!important;
  }
  #venue.container {
    margin-left: 0;
    padding-left: 0;
  }
  #venue .container .no-margin-mobile {
    margin-left: 0;
    padding-left: 0;
  }
  #about section {
    margin-left: -15px;
    padding-top: 20px;
  }
}
@media(min-width:992px) {
  .container {
      min-width: 970px;
  }
  .column-1 {
    float: left;
  }
  .col-100-pct {
    width: 100%;
  }
  .col-60-pct {
    width: 58.33%;
  }
  .col-10-pct {
    width: 10%;
  }
  .col-40-pct {
    width: 41.66%;
  }
  .width-100-pct {
    width: 100%;
  }
  .width-58-point-33-pct {
    width: 58.33%;
  }
  .width-10-pct {
    width: 10%;
  }
  .width-30-pct {
    width: 30%;
  }
  .width-41-point-66-pct {
    width: 41.66%;
  }
  .width-5-pct {
    width: 5%;
  }
  .width-95-pct {
    width: 95%;
  }
}
@media(min-width:1200px) {
  .container {
      min-width: 1170px;
  }
}
